<nav
  class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink navbar-shrink-content"
  id="mainNavContent"
>
  <div class="container">
    <a
      class="navbar-brand"
      href="/"
      [style.background]="'url(' + logoUrl + ') no-repeat center center'"
      style="width: 100px; height: 50px"
    >
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [class]="
        navCollapsed
          ? 'collapse navbar-collapse d-lg-flex flex-lg-row-reverse'
          : 'collapse navbar-collapse d-lg-flex flex-lg-row-reverse show'
      "
      id="navbarResponsive"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.path == url %}active{% endif %}">
          <a
            class="nav-link"
            href="https://www.gfbio.org/services/"
            target="_blank"
            rel="noopener noreferrer"
          >
            GFBio Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gfbio-ev.de/"> GFBio e.V. </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.nfdi4biodiversity.org/">
            NFDI 4 Bio <i class="mdi mdi-open-in-new"></i>
          </a>
        </li>

        <!-- The cart should be in the header. This is more common place for it -->
        <!-- <div class="btn-group"> -->
        <!--   <button type="button" class="btn btn-outline-secondary"> -->
        <!--     <fa-icon [icon]="faCartPlus"></fa-icon> -->
        <!--   </button> -->
        <!--   <button -->
        <!--     type="button" -->
        <!--     class="btn btn-secondary disabled" -->
        <!--     aria-disabled="true" -->
        <!--   > -->
        <!--     3 -->
        <!--   </button> -->
        <!-- </div> -->
      </ul>
    </div>
  </div>
</nav>
