<nav
  class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink navbar-shrink-content"
  id="mainNavContent"
>
  <div class="container-fluid px-0">
    <div class="row w-100 mx-0">
      <div class="col-12 px-4">
        <div class="d-flex justify-content-between align-items-center">
          <a
            class="navbar-brand"
            href="/"
            [style.background]="'url(' + logoUrl + ') no-repeat center center'"
            style="width: 100px; height: 50px"
          >
          </a>
          <button class="navbar-toggler" type="button" (click)="toggleNav()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            [class]="
              navCollapsed
                ? 'collapse navbar-collapse'
                : 'collapse navbar-collapse show'
            "
            id="navbarResponsive"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item {% if request.path == url %}active{% endif %}">
                <a
                  class="nav-link"
                  href="https://www.gfbio.org/services/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  GFBio Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.gfbio-ev.de/"> GFBio e.V. </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.nfdi4biodiversity.org/">
                  NFDI 4 Bio <i class="mdi mdi-open-in-new"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
