<div>
  <mat-accordion>
    <mat-expansion-panel class="mt-3" [expanded]="openChart">
      <mat-expansion-panel-header class="card-header" style="height: 40px">
        Filters
      </mat-expansion-panel-header>
      <div class="pt-2">
        <div class="active-filters">
          <div class="mb-3">
            <span class="clear-filters" (click)="onClearAllFilters()">
              Clear All Filters
            </span>
          </div>
          <div class="my-3">
            <mat-chip-listbox
              aria-label="Selected filters"
              class="mat-chip-list-stacked"
            >
              <div *ngFor="let item of filterValues; let i = index">
                <mat-chip
                  [selectable]="false"
                  [removable]="true"
                  (removed)="removeFilter(i)"
                >
                  {{ item }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-listbox>
          </div>
        </div>
        <!-- Skeleton loader for facets when stats are loading -->
        <div *ngIf="statsLoading" class="facet-skeleton">
          <!-- Generate 6 skeleton items to mimic facet categories -->
          <div *ngFor="let i of [1,2,3,4,5,6]" class="skeleton-item">
            <div class="skeleton-header"></div>
            <!-- Generate 4 skeleton bars to mimic facet values -->
            <div *ngFor="let j of [1,2,3,4]" class="skeleton-bar"></div>
          </div>
        </div>
        
        <!-- Actual facets when data is loaded -->
        <div *ngIf="!statsLoading && result?.getAggregations()?.length > 0">
          <div *ngFor="let item of result?.getAggregations(); let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mt-3" [expanded]="openChart">
                <mat-expansion-panel-header
                  class="card-header"
                  style="height: 40px"
                >
                  <div class="row">
                    <div class="col-1 col-md-1">
                      <mat-icon class="filterIcon">{{ item.getIcon() }}</mat-icon>
                    </div>
                    <div class="col-auto col-md-auto">
                      {{ item.getTitle() }}
                    </div>
                  </div>
                </mat-expansion-panel-header>
                <div class="pt-2">
                  <app-filter-box
                    [filters]="item"
                    (chosenFacet)="sendFilter($event)"
                  ></app-filter-box>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div *ngFor="let item of result?.getOtherFilters()">
          <mat-accordion>
            <mat-expansion-panel class="mt-3" [expanded]="openChart">
              <mat-expansion-panel-header
                class="card-header"
                style="height: 40px"
              >
                <div class="row">
                  <div class="col-1 col-md-1">
                    <mat-icon class="filterIcon">{{ item.icon }}</mat-icon>
                  </div>
                  <div class="col-auto col-md-auto">
                    {{ item.title }}
                  </div>
                </div>
              </mat-expansion-panel-header>
              <div class="pt-2">
                <app-other-filters
                  [filter]="item.parameters"
                  [filterValues]="filterValues"
                  (chosenFilter)="sendFilter($event)"
                ></app-other-filters>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngFor="let datePicker of result?.getDatePickers()">
          <app-filter-date-picker
            [datePicker]="datePicker"
            [filters]="chosenFilter"
            [filterValues]="filterValues"
            (chosenDate)="applyDate($event, datePicker)"
          ></app-filter-date-picker>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
