<div class="dialog-container">
    <!-- Loading Spinner -->
    <div class="spinner-overlay" *ngIf="spinner">
        <div class="spinner-container">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    </div>

    <!-- Dialog Header -->
    <div class="dialog-header">
        <h2 class="dialog-title">Dataset Basket</h2>
        <button mat-icon-button class="close-button" [mat-dialog-close]="[data]">
            <span class="material-icons">close</span>
        </button>
    </div>

    <!-- Dialog Content -->
    <div class="dialog-content">
        <div class="basket-content">
            <!-- Empty State -->
            <div class="empty-state" *ngIf="data.length === 0">
                <span class="material-icons empty-icon">shopping_basket</span>
                <p>{{ textTooltipBasketEmpty }}</p>
            </div>

            <!-- Dataset List -->
            <div class="dataset-list" *ngIf="data.length !== 0">
                <div class="dataset-item" *ngFor="let item of data">
                    <div class="dataset-info">
                        <div class="dataset-header">
                            <div class="dataset-title" [matTooltip]="item.getTitle()">
                                {{ item.getTitle() }}
                            </div>
                            <button mat-icon-button class="remove-button" (click)="remove(item)" matTooltip="Remove from basket">
                                <span class="material-icons">remove_circle_outline</span>
                            </button>
                        </div>
                        <div class="dataset-metadata">
                            <span class="metadata-item" *ngIf="item.getLinkage().getData()" [matTooltip]="textTooltipBasketDataAvailable">
                                <span class="material-icons">table_chart</span>
                                Data available
                            </span>
                            <span class="metadata-item" *ngIf="item.getLinkage().getMetadata()" [matTooltip]="textTooltipBasketMetadataAvailable">
                                <span class="material-icons">info</span>
                                Metadata available
                            </span>
                            <span class="metadata-item" *ngIf="item.getLinkage().getMultimedia()" [matTooltip]="textTooltipBasketMultimediaAvailable">
                                <span class="material-icons">perm_media</span>
                                Multimedia available
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Templates -->
            <ng-template #thenBlockData>
                <div class="description-text" *ngIf="item.getLinkage().getData(); then thenBlockData; else elseBlockData"></div>
                <ng-template #thenBlockData>
                    <span matTooltip="{{ textTooltipBasketDataAvailable }}" class="px-1"><i class="fas fa-table"></i></span>
                </ng-template>
                <ng-template #elseBlockData>
                    <span matTooltip="{{ textTooltipBasketDataNotAvailable }}" class="half-opacity px-1"><i class="fas fa-table"></i></span>
                </ng-template>
            </ng-template>

            <ng-template #elseBlockData>
                <div class="description-text" *ngIf="item.getLinkage().getMetadata(); then thenBlockMeta; else elseBlockMeta"></div>
                <ng-template #thenBlockMeta>
                    <span matTooltip="{{ textTooltipBasketMetadataAvailable }}" class="px-1"><i class="fas fa-info-circle"></i></span>
                </ng-template>
                <ng-template #elseBlockMeta>
                    <span matTooltip="{{ textTooltipBasketMetadataNotAvailable }}" class="half-opacity px-1"><i class="fas fa-info-circle"></i></span>
                </ng-template>
            </ng-template>

            <ng-template #elseBlockData>
                <div class="description-text" *ngIf="item.getLinkage().getMultimedia(); then thenBlockMedia; else elseBlockMedia"></div>
                <ng-template #thenBlockMedia>
                    <span matTooltip="{{ textTooltipBasketMultimediaAvailable }}" class="px-1"><i class="fas fa-photo-video"></i></span>
                </ng-template>
                <ng-template #elseBlockMedia>
                    <span matTooltip="{{ textTooltipBasketMultimediaNotAvailable }}" class="half-opacity px-1"><i class="fas fa-photo-video"></i></span>
                </ng-template>
            </ng-template>
        </div>
    </div>

    <!-- Dialog Actions -->
    <div class="dialog-actions">
        <button class="action-button clear-button" (click)="emptyBasket()" *ngIf="data.length !== 0">
            <span class="material-icons">delete_outline</span>
            Empty Basket
        </button>
        <button class="action-button download-button" (click)="downloadZip()" *ngIf="data.length !== 0">
            <span class="material-icons">download</span>
            Download
        </button>
        <button class="action-button submit-button" (click)="sendBasketToCollectionService(collectionId)" *ngIf="data.length !== 0">
            <span class="material-icons">explore</span>
            {{vatButtonText}}
        </button>
    </div>
</div>
