/* font-family: 'Nunito Sans', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Roboto Slab', serif;
 font-family: 'Rubik', sans-serif;
 */
/* -------------------------------------------------------------------------- */
/*============================================================ Footer ==============================================================*/
footer {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgba(52, 90, 162, 0.8);
  color: #fff;
  font-weight: 300;
  padding-top: 3rem;
}
footer h3,
footer h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
footer h3 {
  margin-bottom: 0.65rem;
  font-size: 1.8em;
}
footer h4 {
  font-size: 1.2em;
}
footer h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  padding-left: 3.4rem;
  padding-top: 0.75rem;
  text-align: left;
}
footer a {
  background-color: transparent;
  color: #fff;
}
footer a.list-group-item {
  border: 0;
  font-weight: bold;
  padding: 0.5rem 0 0 0;
  background-color: transparent;
  color: #fff;
}
footer a.list-group-item:hover,
footer a.list-group-item:active,
footer a.list-group-item:focus {
  background-color: transparent;
  color: inherit;
}
footer a.list-group-item:hover {
  font-weight: bolder;
  font-size: 1.05rem;
}
footer i {
  font-size: 2em !important;
  padding-bottom: 0.65rem;
}
footer div.mid-row {
  border-top: 1px dotted rgba(255, 255, 255, 0.4);
  padding: 1.8rem 0;
}
footer div.mid-row .mid-row-item {
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
footer div.mid-row .mid-row-item a:hover::after {
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.04);
}
footer div.mid-row i {
  font-size: 2.4em !important;
  float: left;
  color: rgba(255, 255, 255, 0.5);
}
footer div.mid-row p {
  text-align: left;
  padding-left: 3.4rem;
  font-size: 0.9rem;
}
footer .border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
footer .btn-footer {
  border-radius: 0.25rem;
  margin-bottom: 4rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 0.875em;
}
footer .btn-footer:hover,
footer .btn-footer:not(:disabled):not(.disabled):active,
footer .btn-footer:not(:disabled):not(.disabled).active,
footer .btn-footer:focus {
  border-color: #345aa1;
  background-color: #fff;
  color: #345aa2 !important;
  box-shadow: none;
}
footer .btn-footer:hover:focus,
footer .btn-footer:not(:disabled):not(.disabled):active:focus,
footer .btn-footer:not(:disabled):not(.disabled).active:focus,
footer .btn-footer:focus:focus {
  box-shadow: none;
}
footer div.bottom-row {
  background-color: #5c5c5c;
}
footer div.bottom-row ul li {
  border-color: transparent;
  background-color: transparent;
}
footer div.bottom-row ul li a {
  color: #a3a3a3;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none !important;
  outline: none;
}
footer div.bottom-row ul li a i {
  padding: 0;
}
footer div.bottom-row ul li a:hover {
  color: #fff;
}
@media (min-width: 1400px) {
  footer .container {
    max-width: 1140px !important;
  }
}
footer .btn {
  text-transform: none !important;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 0 0.5rem;
  border: 1px solid rgba(129, 178, 72, 0.8);
  border-radius: 0.4rem;
  background-color: #fff;
}
.back-to-top i {
  font-size: 1.8rem;
}
