<div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="mapExpanded">
      <mat-expansion-panel-header class="card-header" style="height: 40px">
        <div class="row">
          <div class="col-auto col-md-auto">
            Map View
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="pt-2">
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
