<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo/Brand -->
    <a class="navbar-brand" href="#">
      <img src="assets/img/gfbio-logo.svg" alt="GFBio Logo" height="40">
    </a>

    <!-- Navigation Items -->
    <div class="d-flex align-items-center">
      <!-- Dataset Basket -->
      <button class="basket me-3" (click)="basketClick()">
        <div class="basket-content">
          <div class="basket-img">
            <img src="assets/icons/shopping-basket.svg" alt="Dataset Basket" class="basket-icon">
            <span class="basket-number">{{basketValues.length}}</span>
          </div>
          <span class="basket-text">Dataset Basket</span>
        </div>
      </button>
    </div>
  </div>
</nav>
