.card {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
  margin: 0 !important;
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight drop shadow on hover */
}

.card-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 1rem;
}
